.WorkloadItem {
  color: rgb(247, 248, 248);
  box-shadow: 0 0.625rem 0.75rem rgba(18, 18, 18, 0.2);
  padding: 1.25rem;
  background-color: #2a2b2d;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.WorkloadItem-header {
  display: flex;
  align-items: center;
  height: 32px;
}

.WorkloadItem-status-or-action {
  margin-left: auto;
}

.WorkloadItem-cancelButton {
  width: 80px;
}

.WorkloadItem-infoText {
  font-size: 0.85rem;
}

.WorkloadItem-infoText-header {
  font-weight: 600;
}

.WorkloadItem-complexity {
  margin-top: 2.5rem;
}

.WorkloadItem-time-remaining {
  margin-top: 6px;
}

.WorkloadItem-statusText.failure {
  color: #ffa4a4;
}

.WorkloadItem-statusText.success {
  color: #08bd80;
}
