.container {
  height: 100%;
  display: grid;
  grid-template: repeat(2, max-content) 1fr / 8fr 4fr;
  grid-template-areas: 'app-header app-header' 'workloads-list-header .' 'workloads-list-container workload-creator';
}

.app-header {
  padding: 0.75rem 1rem;
  background-color: #1f2123;
  grid-area: app-header;
}

.workloads-list-header {
  padding: 0.75rem;
  text-align: center;
  grid-area: workloads-list-header;
}

@media only screen and (max-width: 47.95em) {
  .container {
    grid-template: repeat(3, max-content) 1fr / 1fr;
    grid-template-areas: 'app-header' 'workload-creator' 'workloads-list-header' 'workloads-list-container';
  }
}
