.workloads-list-container {
  min-width: 0;
  min-height: 0;
  height: 100%;
  overflow: auto;
  padding: 0.75rem 1rem;
  padding-top: 0;
  grid-area: workloads-list-container;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: max-content;
  grid-gap: 0.75rem;
}

@media only screen and (max-width: 70.95em) {
  .workloads-list-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 47.95em) {
  .workloads-list-container {
    grid-template-columns: 1fr;
  }
}

.no-workloads {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  font-size: 1.5rem;
}
